body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.loginSignup-page{
  display: flex;
  justify-content: center;
  align-items: center;
  /* remember its important to give a height to the container
  otherwise items will be aligned only for 1vh height of container */
  height: 100vh;
  gap: 20px;
}

.signup-page{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.button-div-productTable{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button-div-productTable button{
  width: 100px;
  height: 40px;
}
